<a href="https://colab.research.google.com/github/Gufonteszm/Exercicios_PA/blob/main/exerc%C3%ADcios_com_if.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Exercício 1**

In [ ]:
##entrada

In [ ]:
ano = int(input("Digite o ano: "))

Digite o ano: 1000

In [ ]:
##processamento

In [ ]:
if ano % 4 == 0 and ano % 100 == 0 or ano % 400 == 0:
  print("O ano é bissexto")
else:
  print("O ano não é bissexto")

O ano é bissexto

**Exercício 2**

In [ ]:
##entrada

In [ ]:
idade = int(input("Digite a idade: "))

Digite a idade: 21

In [ ]:
#processamento

In [ ]:
if idade >= 0 and idade <=12:
  print("criança")

elif idade >= 13 and idade <= 17:
    print("adolescente")

elif idade >= 18 and idade <= 59:
    print("adulto")

adulto

**Exercício 3**

In [ ]:
##entrada

In [ ]:
número = int(input("Digite o número: "))

Digite o número: 60

In [ ]:
##processamento

In [ ]:
if número >= 10 and número <= 50:
  print("O número está dentro do intervalo")
else:
  print("O número está fora do intervalo")

O número está fora do intervalo

**Exercício 4**

In [ ]:
##entrada

In [ ]:
emprestimo = float(input("Digite o valor da prestação: "))

Digite o valor da prestação: 5000

In [ ]:
salário_mensal = float(input("Digite o valor do salário mensal: "))

Digite o valor do salário mensal: 4000

In [ ]:
parcela = float(input("Digite o valor da parcela: "))

Digite o valor da parcela: 10

In [ ]:
##processamento

In [ ]:
if (emprestimo / parcela) > (salário_mensal * 30 / 100):
  print("Empréstimo não concedido")
else:
  print("Empréstimo concedido")

Empréstimo concedido

**Refazendo os exercícios**

**Exercício 1**

In [ ]:
##entrada

In [ ]:
número = float(input("Digite o número: "))

Digite o número: 36

In [ ]:
##processamento
if número % 2 == 0:
  print("O número é par")
else:
  print("O número é ímpar")

O número é par

**Exercício 2**

In [ ]:
##entrada

In [ ]:
l1 = float(input("Digite o lado 1: "))

Digite o lado 1: 10

In [ ]:
l2 = float(input("Digite o lado 2: "))

Digite o lado 2: 12

In [ ]:
l3 = float(input("Digite o lado 3: "))

Digite o lado 3: 15

In [ ]:
#processamento

In [ ]:
if l1 > l2 + l3 or l2 > l1 + l3 or l3 > l1 + l2:
  print("Não é um triângulo")

if l1 == l2 == l3:
  print("Triângulo equilátero")
elif l1 == l2 or l1 == l3 or l2 == l3:
  print("Triângulo isósceles")
elif l1 != l2 != l3:
  print("Triângulo escaleno")

Triângulo escaleno

**Exercício 3**

In [35]:
##entrada

In [36]:
peso = float(input("Digite o peso em kg: "))

Digite o peso em kg: 160

In [37]:
altura = float(input("Digite a altura em metros: "))

Digite a altura em metros: 1.57

In [38]:
##processamento

In [39]:
imc = peso / altura ** 2

In [40]:
if imc < 18.5:
  print("Abaixo do peso")
if imc < 18.5:
  print("Abaixo do peso")
elif imc >= 18.5 and imc <= 24.9:
  print("Peso normal")
elif imc >= 25 and imc <= 29.9:
  print("Sobrepeso")
elif imc >= 30 and imc <= 34.9:
  print("Obesidade grau 1")
elif imc >= 35 and imc <= 39.9:
  print("Obesidade grau 2")
elif imc >= 40:
  print("Obesidade grau 3")

Obesidade grau 3

**Exercício 4**